<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SFXPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SFXPlayer.Properties.Settings>
            <setting name="ColourPlayerIdle" serializeAs="String">
                <value>LightGoldenrodYellow</value>
            </setting>
            <setting name="ColourPlayerLoading" serializeAs="String">
                <value>LightCoral</value>
            </setting>
            <setting name="ColourPlayerLoaded" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="ColourPlayerPlay" serializeAs="String">
                <value>0, 192, 0</value>
            </setting>
            <setting name="ColourPlayerPaused" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="ColourPlayerBackground" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="LastProjectFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastAudioFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ArchiveFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ColourPreview" serializeAs="String">
                <value>DarkOrange</value>
            </setting>
            <setting name="AutoLoadLastSession" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastSession" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPreviewDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPlaybackDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="LastMidiDevice" serializeAs="String">
                <value />
            </setting>
        </SFXPlayer.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NAudio.Core" publicKeyToken="e279aa5131008a41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Fizzler" publicKeyToken="4ebff4844e382110" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
